<article>
    <img [src]="'assets/img/logo_apropos.png'" id="logo_discord">
  <h2>À propos du Fiphone</h2>
  <div class="apropos_content">
    <p>
      Le Fiphone a été réalisé avec fierté par des développeurs indépendants du Discord Insoumis.<br/>
        Si vous souhaitez participer à nos projets, n‘hésitez pas à nous rejoindre ! <a href="http://discord-insoumis.fr/">C'est par ici !</a>
    </p>
    <p>
      Avec la participation de :
    </p>
      <ul>
            <li>Développeurs back-end : Luc, Arthur.</li>
            <li>Développeurs front-end : iuliust, Snae.</li>
            <li>Game designer (WIP) : Prae.</li>
            <li>Artistes numériques : Cejo, TintinCastro, LaPastille, Para B.</li>
            <li>Gestion de projet et communication : SraM, dazo, Miidnight.</li>
            <li>Beta-testeurs : Miidnight, Fou, Stengarlis, NightGlow.</li>
      </ul>
    <p>
      Merci aux camarades de Californie pour nous avoir inspirés avec l'excellent grassrootspb.com !
    </p>
  </div>
</article>
