@import '../../../_colors.scss';

:host {padding: 2px 8px 0 0;}

.mat-card {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  color: $main-text;
}

h2 {
  color: $jlm-red;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}

th,
td {
  line-height: 36px;
  padding: 0 5px;
}

th {
  color: $jlm-blue;
  font-family: 'Roboto Slab', serif;
  text-align: left;
}

td {border-top: 1px solid $border;}

.rank,
.calls {text-align: center;}

td.rank {
  font-size: 13px;

  span {margin: auto;}
}

.first,
.second,
.third {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}

.first {background: #cba135;}
.second {background: #cccccc;}
.third {background: #cd8032;}
