@import '../../../_colors.scss';

:host {
    display: block;
    padding-top: .5em;
}

a {
    display: block;
    padding: .5em 1em;
    margin-bottom: .5em;
    font-size: 1.1em;
    color: black;
    font-weight: bold;

    &.active {
        background-color: $jlm-red;
        color: white;
    }

    &:hover:not(.active) {
        background-color: rgba(0, 0, 0, .2);
    }
}