<article>
  <h2>à propos de mélenphone</h2>
  <div>
    <p>
      Ce site a été réalisé par une des nombreuses équipes du discord de la France Insoumise.
    </p>
    <p>
      Il a été réalisé avec fierté par des développeurs indépendants. Si vous souhaitez nous rejoindre pour travailler sur d‘autres projets, n‘hésitez pas à passer nous faire un coucou sur 
      <a href="http://discord.insoumis.online">le discord de la France Insoumise</a>
    </p>
    <p>
      artisans du web : Snae, Joce, Tintin, Prae, iuliust, Darckoune, Arthur, Sram, Dazo, Para B, L.G, Ptite Noli
    </p>
  </div>
</article>