# See http://help.github.com/ignore-files/ for more about ignoring files.
######################################################
# here are the exclusions specific to this project : #
######################################################
*.pyc
/dump.rdb
/.env/

########################################
# end of project-specific instructions #
########################################

# compiled output
dist/
tmp/
dump.rdb
.env/

# dependencies
node_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
typings

# e2e
e2e/*.js
e2e/*.map

#System Files
.DS_Store
Thumbs.db

db.sqlite3

static/
virtualenv/
.python-version

