appdirs==1.4.2
asgi-redis==1.0.0
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
channels==1.0.3
daphne==1.0.3
Django==1.10.6
djangorestframework==3.5.4
djangorestframework-jwt==1.9.0
incremental==16.10.1
Jinja2==2.9.5
MarkupSafe==0.23
numpy==1.12.0
oauth2client==4.0.0
phonenumbers==8.3.1
Pillow==3.3.1
PyJWT==1.4.2
pyparsing==2.1.10
PyYAML==3.11
redis==2.10.5
reportlab==3.3.0
requests==2.13.0
Twisted==17.1.0
