:host {
    display: block;
    margin-top: 20px;
}

jlm-gauge {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}

.points {
    background: url('../../../assets/img/phi.png') no-repeat right;
    background-size: 26px auto;
    display: inline-block;
    line-height: 38px;
    padding-right: 2em;
    text-align: right;
    text-transform: uppercase;
    vertical-align: middle;
    width: calc(25% - 3em);
}

[jlmFullscreen] {
    margin-top: 70px;

    &:-webkit-full-screen {
        display: flex;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        jlm-call-map {
            flex: 1;
            margin: auto;
        }
    }
    &:-moz-full-screen {
        display: flex;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        jlm-call-map {
            flex: 1;
            margin: auto;
        }
    }
    &:-ms-full-screen {
        display: flex;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        jlm-call-map {
            flex: 1;
            margin: auto;
        }
    }
    &:fullscreen {
        display: flex;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        jlm-call-map {
            flex: 1;
            margin: auto;
        }
    }
}

[jlmFullscreen] .controls {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
}
