<jlm-gauge [min]="0" [max]="goal" [value]="dailyCalls"></jlm-gauge>
<div class="points" *ngIf="auth.currentUser?.phi">{{ auth.currentUser.phi }} points</div>
<div jlmFullscreen #fullscreenController="fullscreen">
    <jlm-call-map [timeout]="5000">
        <div class="controls" [ngSwitch]="fullscreenController.isFullscreen">
            <button *ngSwitchCase="false"
                    md-raised-button
                    color="accent"
                    (click)="fullscreenController.toggle(true)">Plein écran</button>
            <button *ngSwitchCase="true"
                    md-raised-button
                    color="accent"
                    (click)="fullscreenController.exitFullscreen()">sortir du mode plein écran</button>
            <button *ngIf="isDevMode" md-raised-button color="accent" (click)="makeBackendRequest()">Make backend request</button>
        </div>
    </jlm-call-map>
</div>
