@import '../../../_colors.scss';

.bg {
  height: 30px;
  background: #fff;
  border-radius: 2px;
  border: 3px solid #fff;

  .fg {
    background: $jlm-blue;
    border-radius: 2px;
    height: 24px;
    line-height: 24px;
    padding: 0 1em;
    position: relative;
    transition: .3s;
  }

  .legend {
    color: #fff;
    font-size: 14px;
    right: 0;
    text-align: right;
    text-shadow: 1px 0 0 $jlm-blue, 0 1px 0 $jlm-blue, 0 -1px 0 $jlm-blue, -1px 0 0 $jlm-blue;
    font-weight: bold;
    word-spacing: 2px;
    padding: 0 15px;
    position: absolute;
    white-space: nowrap;
    width: 100%;
  }
}
