:host {
    display: block;

    .picture {
        img {
            width: 30px;
            height: 30px;
        }
    }

    .content {
        color: white;
        line-height: 1em;

        .name {
            margin: 0;
            font-size: 1em;
        }
    }
}