<ng-container [ngSwitch]="auth.currentUser === null">
    <md-card *ngSwitchCase="true">
        <md-card-content>
            <p>Connectez-vous via jlm2017.fr</p>
        </md-card-content>
        <md-card-actions fxLayoutAlign="end">
            <a md-raised-button color="primary" href="/connexion/">Connexion</a>
        </md-card-actions>
    </md-card>

    <div *ngSwitchCase="false">
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutWrap="wrap">
            <div *ngIf="auth.currentUser" fxFlex.xs="1 1 400px">
                <md-card>
                    <md-card-content>
                        <p>
                            Vous êtes connecté en tant que 
                            <span class="pseudo">{{auth.currentUser.email}}</span>
                        </p>
                    </md-card-content>
                    <md-card-actions fxLayoutAlign="end end">
                        <a md-raised-button color="warn" href="/deconnexion/">Déconnexion</a>
                    </md-card-actions>
                </md-card>
            </div>
            <div *ngIf="auth.currentUser.agentUsername === null" fxFlex.xs="1 1 400px">
                <md-card>
                    <md-card-content>
                        <p>
                            Vous n'avez pas encore créé votre compte callhub.
                            Sans ce compte, vous ne pourrez pas passer d'appels (gratuitement) pour
                            la campagne 😕
                        </p>
                    </md-card-content>
                    <md-card-actions fxLayoutAlign="end end">
                        <a md-button href="/deconnexion/">Déconnexion</a>
                        <a md-raised-button color="primary" routerLink="/register">Créer mon compte callhub</a>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>

</ng-container>
