<md-card>
    <md-card-content>
        <ng-container *ngIf="auth.currentUser === null">
            <p>Connectez-vous via jlm2017.fr</p>
        </ng-container>
        <ng-container *ngIf="auth.currentUser !== null">
            <ng-container *ngIf="auth.currentUser.agentUsername !== null">
                <p>
                    Vous êtes connecté en tant que 
                    <span class="pseudo">{{auth.currentUser.email}}</span>
                </p>
                <p>
                    Votre nom d‘utilisateur callhub est <span class="pseudo">
                    {{ auth.currentUser.agentUsername }}</span>
                </p>
            </ng-container>
        </ng-container>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end">
        <ng-container *ngIf="auth.currentUser === null">
            <a md-raised-button color="primary" href="/connexion/">Connexion</a>
        </ng-container>
        <ng-container *ngIf="auth.currentUser !== null && auth.currentUser.agentUsername !== null">
            <a md-raised-button color="warn" href="/deconnexion/">Déconnexion</a>
        </ng-container>
    </md-card-actions>
</md-card>

<md-card *ngIf="auth.currentUser !== null && auth.currentUser.agentUsername !== null">
    <md-card-title>
        <span>Mes trophées</span>
    </md-card-title>
    <md-card-content>
        <jlm-mes-trophees></jlm-mes-trophees>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end">
        <a md-raised-button color="primary" routerLink="/mes-trophees">Mes trophées</a>
    </md-card-actions>
</md-card>