@import '../../../_colors.scss';

md-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  color: $main-text;
  font-family: Montserrat, sans-serif;
  margin-bottom: 30px;
}

strong {
  color: $jlm-red;
  font-size: 1.1em;
}

.deco {
  background: $jlm-red;
  color: #fff;
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: $jlm-blue;
  margin: 0;
}
