<div fxLayout="row" fxLayoutAlign="center">
  <iframe width="560"
      height="315"
      src="https://www.youtube.com/embed/ysUHxrxN8CM"
      frameborder="0"
      allowfullscreen></iframe>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <iframe width="560"
      height="315"
      src="https://www.youtube.com/embed/RpLb4-wH-Zw"
      frameborder="0"
      allowfullscreen></iframe>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <iframe width="560"
      height="315"
      src="https://www.youtube.com/embed/EQb8MTM9g9Y"
      frameborder="0"
      allowfullscreen></iframe>
</div>
