@import '../../../_colors.scss';


div{
  margin-bottom: 10px;
}

h2{
  text-align: center;
  font-size:200%;
  color: $jlm-red;
}

p{
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
}
