<article>
  <h2>Avant toute chose, notre démarche !</h2>
  <p>
      Le Mélenphone n'est pas un outil de démarcharge.<br/>
      Nous sommes toujours très courtois au téléphone et nous nous assurons de ne pas déranger. Nous ne cherchons pas non plus à convaincre.
      Notre principal objectif est d'informer ceux qui le souhaitent sur la campagne de Jean-Luc Mélenchon.
  </p>
  <p>
    <strong>D'où proviennent les numéros appelés ?</strong><br/>
    Tout simplement des pages blanches ! Nous n'achetons aucune base de données à des entreprises qui revendraient les informations de leurs clients.
  </p>
  <p>
    <strong>N'avez-vous pas peur de donner une mauvaise image de la F.I. en dérangeant les gens ?</strong><br/>
    Les retours des utilisateurs du Mélenphone sont très positifs. Puisque nous sommes courtois et soucieux de ne pas
    déranger, il est très rare que nos interlocuteurs s'énervent. Beaucoup apprécient de discuter avec des militants motivés
    et ceux qui n'ont pas le temps ou l'envie nous le font savoir calmement.
  </p>
  <p>Toujours motivé.e ? C'est parti !!</p>
  <div fxLayout="row" fxLayoutAlign="center">
    <iframe width="560"
        height="315"
        src="https://www.youtube.com/embed/ysUHxrxN8CM"
        frameborder="0"
        allowfullscreen></iframe>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <iframe width="560"
        height="315"
        src="https://www.youtube.com/embed/RpLb4-wH-Zw"
        frameborder="0"
        allowfullscreen></iframe>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <iframe width="560"
        height="315"
        src="https://www.youtube.com/embed/EQb8MTM9g9Y"
        frameborder="0"
        allowfullscreen></iframe>
  </div>
</article>
