:host {
    display: block;
}

$jlm-blue: hsl(190, 65%, 51%);
$jlm-red: hsl(10, 64%, 48%);

path.department {
    stroke: $jlm-blue;
    stroke-width: 1;
    fill: transparent;
}

#France path.department {
    stroke-width: .8;
}

.lake {
    fill: white;
}

g.call {
    transition: opacity 1s;
    opacity: 1;

    &.remove-start {
        opacity: 0;
    }
}
