.st0{
    fill:#0098B6;
}
.st1{
    fill:#FFFFFF;
}
.st2{
    fill:#333333;
}
.st3{
    font-family:'MyriadPro-Regular';
}
.st4{
    font-size:18px;
}
.st5{
    font-size:20px;
}
.st6{
    font-size:21.1765px;
}
.st7{
    fill:#0098B6;stroke:#FFFFFF;stroke-width:0.5;
}

.mydir {
    fill: transparent;
    stroke:black;
    stroke-width: 1;
}