@import '../../../_colors.scss';

:host {
    display: block;
}

.department {
    stroke: $jlm-blue;
    stroke-width: 1;
    fill: transparent;
}

#France .department {
    stroke-width: .8;
}

.lake {
    fill: white;
}

.jlmAnimatedCall {
    transition: opacity 1s;
    opacity: 1;

    &.remove-start {
        opacity: 0;
    }
}
