@import '../../../_colors.scss';

:host {
    display: block;
    box-sizing: border-box;
    color: #fff;

    .bg {
        box-sizing: border-box;
        height: 38px;
        line-height: 32px;
        border-radius: 3px;
        overflow: hidden;
        border: 3px solid $jlm-red;

        .fg {
            background-color: $jlm-red;
            padding: 0 1em;
            text-align: right;
        }
    }
}
