@import '../../../_colors.scss';

:host {
    display: block;
    box-sizing: border-box;
    
    .bg {
        // box-shadow: 0px 0px 18px -2.5px rgba(0, 0, 0, 1);
        border-radius: 3px;
        overflow: hidden;
        border: 3px solid $jlm-red;
        
        .fg {
            height: 3em;
            background-color: $jlm-red;
        }
    }
}