<div class="container" [ngSwitch]="message" fxFlex.xs="1 1 100%" fxFlex.sm="1 1 80%" fxFlex.gt-sm="0 1 500px">
    <md-card *ngSwitchCase="'normal'">
        <md-card-header>
            <md-card-title>
                Vous êtes à présent connecté
            </md-card-title>
        </md-card-header>
        <md-card-content>
            Tu vas être redirigé vers la page d'accueil du site
        </md-card-content>
        <md-card-actions fxlayoutAlign="end">
            <a md-raised-button color="accent" routerLink="/">aller à l'accueil</a>
        </md-card-actions>
    </md-card>

    <md-card *ngSwitchCase="'checkYourMailbox'">
        <md-card-header>
            <md-card-title>
                Verifie ta boîte mail
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <p>
                Tu as reçu un courriel d'activation dans ta boîte mail.
            </p>
            <p>
                Une fois que tu auras cliqué sur le lien d'activation de ton compte callhub,
                tu pourras passer des appels.
            </p>
        </md-card-content>
    </md-card>

    <form #f="ngForm"
            *ngSwitchCase="'createCallhubAccount'"
            (ngSubmit)="createCallhubAccount(callhubUsername)">
        <md-card>
            <md-card-header>
                Encore un petit effort et c'est bon !
            </md-card-header>
            <md-card-content>
                <p>
                    Bravo, tu as fait le tiers du chemin.
                    Et maintenant, avant-dernière étape : il te faut un pseudo.
                    Sans ça, tu ne pourras pas passer d'appel (gratuitement) pour
                    la campagne 😱
                </p>
                <md-input-container fxFlexFill>
                    <input mdInput [(ngModel)]="callhubUsername"
                            type="text"
                            placeholder="pseudo"
                            name="callhubUsername"
                            minlength="4"
                            required>
                </md-input-container>
                <p *ngIf="errorMessage" class="error-message">
                    {{ errorMessage | json:true }}
                </p>
            </md-card-content>
            <md-card-actions fxLayoutAlign="end">
                <div class="example-tooltip-host" mdTooltip="Tooltip!">
                    <button md-raised-button
                            color="primary"
                            type="submit"
                            [disabled]="!f.valid && !auth.currentUser.agentUsername">J'enregistre mon pseudo</button>
                </div>
            </md-card-actions>
        </md-card>
    </form>
</div>

