<div class="container" [ngSwitch]="message"
        fxLayout="row"
        fxFlex.xs="1 1 100%"
        fxFlex.sm="1 1 80%"
        fxFlex.gt-sm="0 1 700px">
    <md-card *ngSwitchCase="'normal'">
        <md-card-header>
            <md-card-title>
                Vous êtes à présent connecté
            </md-card-title>
        </md-card-header>
        <md-card-content>
            Tu vas être redirigé vers la page d'accueil du site
        </md-card-content>
        <md-card-actions fxlayoutAlign="end">
            <a md-raised-button color="accent" routerLink="/">aller à l'accueil</a>
        </md-card-actions>
    </md-card>

    <md-card *ngSwitchCase="'checkYourMailbox'">
        <md-card-header>
            <md-card-title>
                Compte Callhub créé avec succès !
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <p>
                <span class="checkmailbox">Vérifie ta boîte mail</span>, tu as reçu un <strong>courriel d'activation</strong>.<br/>
                Un lien dans ce mail te permettra de finaliser ton inscription.
            </p>
        </md-card-content>
    </md-card>

    <div fxLayout="column" fxLayout.gt-sm="row" fxFlexFill fxFlexLayout="row" fxLayoutGap="1em">
        <form #newAgentForm="ngForm"
                fxFlex="grow"
                *ngSwitchCase="'createCallhubAccount'"
                (ngSubmit)="createCallhubAccount(newAgent.credentials.username, newAgent.credentials.password)">
            <md-card>
                <md-card-header>
                    Créer un agent Callhub
                </md-card-header>
                <md-card-content>
                    <p>
                        Si tu n'as jamais passé d'appels pour la campagne, choisis un pseudo pour ton compte Callhub (notre centrale d'appels).
                    </p>
                    <md-input-container fxFlexFill>
                        <input mdInput [(ngModel)]="newAgent.credentials.username"
                                type="text"
                                placeholder="Identifiant Callhub"
                                name="username"
                                minlength="4"
                                required>
                    </md-input-container>
                    <p *ngIf="newAgent.errorMessage" class="error-message">
                        {{ newAgent.errorMessage }}
                    </p>
                </md-card-content>
                <md-card-actions fxLayoutAlign="end">
                    <div class="example-tooltip-host">
                        <button md-raised-button
                                color="primary"
                                type="submit"
                                [disabled]="!newAgentForm.valid && !auth.currentUser.agentUsername">
                            Créer mon agent Callhub
                        </button>
                    </div>
                </md-card-actions>
            </md-card>
        </form>

        <form #associationForm="ngForm"
                fxFlex="grow"
                *ngSwitchCase="'createCallhubAccount'"
                (ngSubmit)="associateExistingAgent(existingAgent.credentials.username,existingAgent.credentials.password)">
            <md-card>
                <md-card-header>
                    Associer un compte callhub déjà existant
                </md-card-header>
                <md-card-content>
                    <p>
                        Si tu possèdes déjà un compte callhub, tu peux le lier en remplissant les
                        champs ci-dessous
                    </p>
                    <div fxLayout="column" fxLayoutGap="1em" fxLayout.gt-xs="row">
                        <md-input-container fxFlex>
                            <input mdInput [(ngModel)]="existingAgent.credentials.username"
                                    type="text"
                                    placeholder="Identifiant Callhub"
                                    name="username"
                                    minlength="4"
                                    required>
                        </md-input-container>
                        <md-input-container fxFlex>
                            <input mdInput [(ngModel)]="existingAgent.credentials.password"
                                    type="password"
                                    placeholder="mot de passe"
                                    name="password"
                                    minlength="8"
                                    required>
                        </md-input-container>
                        <p *ngIf="existingAgent.errorMessage" class="error-message">
                            {{ existingAgent.errorMessage }}
                        </p>
                    </div>
                </md-card-content>
                <md-card-actions fxLayoutAlign="end">
                    <div class="example-tooltip-host">
                        <button md-raised-button
                                color="primary"
                                type="submit"
                                [disabled]="!associationForm.valid && !auth.currentUser.agentUsername">
                                Créer mon agent Callhub
                        </button>
                    </div>
                </md-card-actions>
            </md-card>
        </form>
    </div>



</div>

