@import '../../../_colors.scss';

:host {padding: 0 8px;}

jlm-topten {
  float: right;
  width: 250px;
}

@mixin fullscreenStyles {
  display: flex;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    jlm-call-map {
      flex: 1;
      margin: auto;
    }
}

[jlmFullscreen] {
  padding: 20px 0;
  position: relative;
  float: left;
  width: calc(100% - 300px);

  &:-webkit-full-screen {
    @include fullscreenStyles();
  }
  &:-moz-full-screen {
    @include fullscreenStyles();
  }
  &:-ms-full-screen {
    @include fullscreenStyles();
  }
  &:fullscreen {
    @include fullscreenStyles();
  }

  .mat-button {
    color: $jlm-red;
  }

  .controls {
    position: absolute;
    bottom: 10px;
    right: 10px;

    button {
      border: 0;
      color: $jlm-red;
      cursor: pointer;
      zoom: 1.4;

      &:focus {outline: 0;}
    }
  }
}
