<div class="clearfix">
  <div jlmFullscreen #fullscreenController="fullscreen">
    <button md-button *ngIf="isDevMode" color="warn" (click)="makeBackendRequest()">Make backend request</button>
    <jlm-call-map [timeout]="5000">
      <div class="controls" [ngSwitch]="fullscreenController.isFullscreen">
        <button *ngSwitchCase="false"
            md-icon-button
            alt="Passer en mode plein écran"
            (click)="fullscreenController.toggle(true)">
          <md-icon>fullscreen</md-icon>
        </button>
        <button *ngSwitchCase="true"
            md-icon-button
            alt="Sortir du mode plein écran"
            (click)="fullscreenController.exitFullscreen()">
          <md-icon>fullscreen_exit</md-icon>
        </button>
      </div>
    </jlm-call-map>
  </div>
  <jlm-topten [dailyLeaderboard]="basic.infos?.dailyLeaderboard"></jlm-topten>  
</div>
