<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <a routerLink="/">
    <span>Mélenphone</span>
  </a>
  <span style="flex: 1 1 auto"></span>
  <jlm-toolbar-user-info [user]="auth.currentUser"></jlm-toolbar-user-info>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav [opened]="true" mode="side">
    <jlm-sidenav></jlm-sidenav>
  </md-sidenav>
  <main>
    <router-outlet></router-outlet>
  </main>
</md-sidenav-container>
