<header class="subnav clearfix">
  <div *ngIf="auth.currentUser && auth.currentUser.phi > -1" class="user-info">
    <div class="username">{{ auth.currentUser.agentUsername }}</div>
    <div class="points">{{ auth.currentUser?.phi }}</div>
  </div>
  <h1><a routerLink="/">Mélenphone</a></h1>
</header>
<nav>
  <div class="clearfix wrapper">
    <jlm-gauge *ngIf="basic.infos" [min]="0" [max]="goal" [value]="basic.infos.dailyCalls"></jlm-gauge>
    <jlm-nav-toolbar [user]="auth.currentUser"></jlm-nav-toolbar>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
