<md-card>
  <ng-container *ngIf="trophiesData?.unlocked.length">
    <h3>{{ trophiesData?.unlocked?.length }} Trophées débloqués</h3>
    <ul>
      <li *ngFor="let trophie of trophiesData?.unlocked">
        <div class="name">
          {{ trophie.name }}
        </div>
        <div class="description">
          {{ trophie.condition }}
        </div>
      </li>
    </ul>
  </ng-container>

  <h3>{{ trophiesData?.locked?.length }} Trophées verrouillés</h3>
  <ul>
    <li *ngFor="let trophie of trophiesData?.locked" fxLayout="row">
      <div fxFlex>
        <div class="name">
          {{ trophie.name }}
        </div>
        <div class="description">
          {{ trophie.condition }}
        </div>
      </div>
      <div class="trophee_phi">
      {{ trophie.phi }}
      </div>
    </li>
  </ul>
</md-card>

