<form (ngSubmit)="sendInformations(f)" #f="ngForm">
  <md-input-container>
    <input type="text"
        mdInput
        placeholder="username"
        name="username"
        [(ngModel)]="formInfo.username"
        required>
  </md-input-container><br>

  <md-input-container>
    <input type="text"
        mdInput
        placeholder="email"
        name="email"
        [(ngModel)]="formInfo.email"
        required>
  </md-input-container><br>

  <md-input-container>
    <input type="password"
        mdInput
        placeholder="password"
        name="password"
        [(ngModel)]="formInfo.password"
        required>
  </md-input-container><br>

  <md-input-container>
    <input type="password"
        mdInput
        placeholder="passwordConfirmation"
        name="passwordConfirmation"
        [(ngModel)]="formInfo.passwordConfirmation"
        required>
  </md-input-container><br>

  <md-input-container>
    <input type="text"
        mdInput
        placeholder="country"
        name="country"
        [(ngModel)]="formInfo.country"
        required>
  </md-input-container><br>

  <md-input-container>
    <input type="text"
        mdInput
        placeholder="city"
        name="city"
        [(ngModel)]="formInfo.city"
        required>
  </md-input-container><br>

  <button md-raised-button color="accent">S'inscrire</button>

</form>