@import '../../../_colors.scss';

$stroke-color: hsl(190, 65%, 38%);

:host {
    display: block;
}

.department {
    stroke: $jlm-blue;
    stroke-width: 1;
    fill: transparent;
    will-change: fill, stroke;
    transition: fill 2.4s 4s, stroke 2.5s 4s;

    &.transition-start {
        fill: $jlm-blue;
        stroke: $stroke-color;
    }
    &.transition-end {
        transition: fill 2.4s, stroke 2.5s;
        fill: $jlm-blue;
        stroke: $stroke-color;
    }
}

.monde {
    will-change: transform, opacity;
    animation-fill-mode: both;
    animation: appear 6s ease-in;

    &.no-animation {
        animation-fill-mode: initial;
        animation: initial;
    }

    .department {
        fill: $jlm-blue;
        stroke: $stroke-color;
    }
}

#France .department {
    stroke-width: .8;
}

.lake {
    fill: white;
}

.jlmAnimatedCall {
    transition: opacity 1.5s;
    opacity: 1;

    &.remove-start {
        opacity: 0;
    }
}

@keyframes appear {
    from { opacity: 0 }
    80% { opacity: 0; }
    to { opacity: 1; }
}
