<ng-container [ngSwitch]="user === null">
    <a *ngSwitchCase="true" md-button href="/connexion/">Connexion (via jlm2017.fr)</a>
    <ng-container *ngSwitchCase="false">
        <a md-button *ngIf="user.agentUsername !== null" href="//app.callhub.io/v2/agent-console/" target="_blank">Appeler</a>
        <a md-button *ngIf="user.agentUsername === null" routerLink="/oauth_redirect">Créer mon agent Callhub</a>
        <a md-button routerLink="/classement">Classement</a>
        <a md-button routerLink="/mes-trophees">Mes trophées</a>
        <a md-button routerLink="/profile">{{ user.email }}</a>
        <a md-button href="/deconnexion/">Déconnexion</a>
    </ng-container>
</ng-container>
