/* You can add global styles to this file, and also import other style files */

@import './theme.scss';

html, body, jlm-root, md-sidenav-container, main {
    margin: 0;
    width: 100%;
    height: 100%;
}
