/* You can add global styles to this file, and also import other style files */

@import './_theme.scss';
@import './_colors.scss';

body {
    background: #fafafa;
    color: $main-text;
    font-family: Montserrat, serif;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
