{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>JlmPB</title>
  <base href="/ng">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <jlm-root>Loading...</jlm-root>

<script type="text/javascript" src="{{ ANGULAR_URL }}inline.bundle.js"></script>
<script type="text/javascript" src="{{ ANGULAR_URL }}polyfills.bundle.js"></script>
<script type="text/javascript" src="{{ ANGULAR_URL }}styles.bundle.js"></script>
<script type="text/javascript" src="{{ ANGULAR_URL }}vendor.bundle.js"></script>
<script type="text/javascript" src="{{ ANGULAR_URL }}main.bundle.js"></script></body>
</html>
